[submodule "cinder"]
	path = cinder
	url = https://gaborpapp@bitbucket.org/gaborpapp/cinder.git
	branch = metronome
[submodule "blocks/Cinder-NI"]
	path = blocks/Cinder-NI
	url = git@github.com:gaborpapp/Cinder-NI-nolibs.git
	branch = openni2-glNext
[submodule "blocks/Cinder-OpenCV"]
	path = blocks/Cinder-OpenCV
	url = https://github.com/gaborpapp/Cinder-OpenCV-nolibs.git
[submodule "blocks/Cinder-BlobTracker"]
	path = blocks/Cinder-BlobTracker
	url = https://github.com/gaborpapp/Cinder-BlobTracker.git
